.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  max-width: 20.625rem;

  /* gap: 40px; */
}

.title-login-container {
  font-family: "Graphik", sans-serif;
  font-weight: 500;
  font-size: 24px;

  margin-bottom: 32px;

  color: #111111;

  letter-spacing: -0.02em;
  line-height: 1.32;
}

.box-input-login-container {
  padding: 16px 0;
  margin-bottom: 24px;

  width: 100%;
}

.button-login-container {
  width: 100%;

  background-color: #8f23d6;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  overflow: hidden;

  height: 42px;

  border: none;
  border-radius: 50px;

  padding: 1.5rem 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;

  color: #fff;

  margin-bottom: 1rem;
}

.button-login-container:disabled {
  color: rgba(17, 17, 17, 0.2);
  background: rgba(17, 17, 17, 0.1);
  cursor: not-allowed;
}
